<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Upsilon Beta{{ (': ' ~ title)|safe if title }}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- IE 8 support files -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block body %}
      {% block banner %}
      {% with carousel_id="banner-carousel" %}
      <div id="{{ carousel_id}}" class="carousel slide" data-ride="carousel">
        <!-- indicators -->
        <ol class="carousel-indicators">
          {% for slide_num in range(3) %}
          <li data-target="#{{ carousel_id }}" data-slide-to="{{ slide_num }}"{{ 'class="active"'|safe if loop.first }}></li>
          {% endfor %}
        </ol>
        <!-- slides -->
        <div class="carousel-inner" role="listbox">
          {% for slide_num in range(3) %}
          <div class="item{{ " active" if loop.first }}">
            <img src="//unsplash.it/1500/600?random={{ slide_num }}">
          </div>
          {% endfor %}
        </div>
      </div>
      {% endwith %}
      {% endblock banner %}
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav>
            <ul class="nav">
              <li><a href="/"><h4>&Theta;&Tau; at ODU</h4></a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Rush</a></li>
              <li><a href="#">Brothers</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Contact</a></li>
              {% if current_user.is_anonymous %}
              <li><a href="/login/">Login</a></li>
              {% else %}
              <li><a href="/logout/">Logout {{ current_user.name }}</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
        <div class="col-md-9">
          {% block content %}
          <h1>Content Here!</h1>
          {% endblock content %}
        </div>
      </div>
    </div>
    {% endblock body %}
    {% block scripts %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>    
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock scripts %}
  </body>
</html>
