{% set top_name = name|default('placeholder') -%}
{% macro nice_title(page_title, show_site=True) -%}
{{ page_title|title }}{{ " &mdash; YB Theta Tau"|safe if show_site }}
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head -%}
    <title>{% block title %}{{ nice_title(name) }}{% endblock title%}</title>
    <!-- Be responsive to screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incude Twitter Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel=stylesheet>
    {%- endblock head %}
  </head>
  <body>
    {% block body -%}
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">&Theta;&Tau; ODU</a>
            <ul class="nav">
            {%- for nav in ["about", "rush", "brothers", "activities", "contact" ] %}
              <li{{ ' class="active"'|safe if nav == top_name}}><a href="/
                {{- nav if nav != "home"}}">
                {{- nav|title }}</a></li>
            {%- endfor %}
            </ul>
            <ul class="nav pull-right">
              {% if g.user -%}
              <li><a href="#">{{ g.user.screen_name }}</a></li>
              <li><a href="logout">Log out</a></li>
              {%- else -%}
              <li{{ ' class="active"'|safe if 'login' == top_name}}>
                <a href="login">Login</a>
              </li>
              {%- endif %}
            </ul>
          </div>
        </div>
      </div>
      <header class="page-header">
        <h1>Theta Tau<br><small>Upsilon Beta Chapter at Old Dominion University</small></h1>
      </header>
      {% for category in ['error', 'warn', 'success', 'info'] -%}
      {% with messages = get_flashed_messages(category_filter=[category]) -%}
        {% if messages -%}
        {% for message in messages -%}
        <div class="alert alert-{{ category }}">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
        {%- endfor %}
        {%- endif %}
      {%- endwith %}
      {%- endfor %}
      {% block content -%}
      <h1>A Heading</h1>
      <p>Body content goes here.</p>
      {%- endblock content %}
      <footer>
        <p>Placeholder Footer</p>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.js"></script>
    {%- endblock body %}
  </body>
</html>
