{% import 'brother_utils.html' as util %}
{% set top_name = 'brothers' %}
{% set title = brother.name %}
{% extends "layout.html" %}
{% block header -%}
<div class="container">
  <div class="page-header">
    <h1>{{ brother.name }}</h1>
  </div>
</div>
{%- endblock header %}
{% block content -%}
<dl class="dl-horizontal">
  <dt>Full Name</dt><dd>{{ brother.full_name|default(brother.name) }}</dd>
  {{ util.display_text(brother, 'nickname') }}
  {{ util.display_date(brother, 'birthday') }}
  {{ util.display_text(brother, 'chapter') }}
  {%- if brother.status != 'Pledge' -%}
  {{ util.display_text(brother, 'roll_number') }}
  {{ util.display_text(brother, 'page_number') }}
  {{ util.display_date(brother, 'initiation', 'Initiation Date') }}
  {%- endif -%}
  {{ util.display_text(brother, 'pledge_class') }}
  {%- if brother.big_brother -%}
  <dt>Big Brother</dt>
  <dd>{{ util.brother_name(brother.big_brother) }}</dd>
  {% endif -%}
  {%- if brother.little_brothers %}
  <dt>Little Brothers</dt>
  <dd>
  {%- for little in brother.little_brothers -%}
  {{ util.brother_name(little) }}{{ ', ' if not loop.last }}
  {%- endfor -%}
  </dd>
  {%- endif %}
  {{ util.display_text(brother, 'status') }}
  {{- util.display_positions(brother, 'current_positions') }}
  {{- util.display_positions(brother, 'past_positions') }}
  {{ util.display_text(brother, 'major') }}
  {{ util.display_date(brother, 'graduation_date', label="Graduation Date") }}
</dl>
{%- endblock content %}
