{% extends "layout.html" %}
{% block header -%}
<div class="container">
  <div class="page-header">
    <h1>{{ name|title }}</h1>
  </div>
</div>
{%- endblock header %}
{% macro brother_thumbs(brothers) -%}
<ul class="thumbnails">
{%- for brother in brothers -%}
  <li class="span2">
    <div class="thumbnail">
      <a href="#"><img data-src="static/js/holder.js/150x150"></a>
      <a href="#"><h5>{{ brother.name }}</h5></a>
    </div>
  </li>
{%- endfor -%}
</ul>
{%- endmacro %}
{% block content -%}
{{ brother_thumbs(brothers) }}
{%- if pledges -%}
<h2>Pledges</h2>
{{ brother_thumbs(pledges) }}
{%- endif %}
{%- endblock content %}
