{% import 'brother_utils.html' as util %}
{% set top_name = 'brothers' %}
{% set title = brother.name %}
{% set start_edit = start_edit|default(False) %}
{% extends "layout.html" %}
{% block header -%}
<div class="container">
  <div class="page-header">
    <h1>{{ brother.name }}</h1>
  </div>
</div>
{%- endblock header %}
{% block content -%}
<div class="row">
  <div class="span8">
    {% if not start_edit %}
    <dl class="dl-horizontal edit-toggle">
      <dt>Full Name</dt>
      <dd>{{ brother.full_name if brother.full_name else brother.name }}</dd>
      {{ util.display_text(brother, 'nickname') }}
      {{ util.display_date(brother, 'birthday') }}
      {{ util.display_text(brother, 'chapter') }}
      {%- if brother.status != 'Pledge' -%}
      {{ util.display_text(brother, 'roll_number') }}
      {{ util.display_text(brother, 'page_number') }}
      {{ util.display_date(brother, 'initiation', 'Initiation Date') }}
      {%- endif -%}
      {{ util.display_text(brother, 'pledge_class') }}
      {%- if brother.big_brother -%}
      <dt>Big Brother</dt>
      <dd>{{ util.brother_name(brother.big_brother) }}</dd>
      {% endif -%}
      {%- if brother.little_brothers %}
      <dt>Little Brothers</dt>
      <dd>
      {%- for little in brother.little_brothers -%}
      {{ util.brother_name(little) }}{{ ', ' if not loop.last }}
      {%- endfor -%}
      </dd>
      {%- endif %}
      {{ util.display_text(brother, 'status') }}
      {{- util.display_positions(brother, 'current_positions') }}
      {{- util.display_positions(brother, 'past_positions') }}
      {{ util.display_text(brother, 'major') }}
      {{ util.display_date(brother, 'graduation_date', label="Graduation Date") }}
      {{ util.display_contact(brother, 'emails', label="Email Addresses") }}
      {{ util.display_contact(brother, 'phone_numbers') }}
      {{ util.display_contact(brother, 'addresses', label='Mailing Addresses') }}
    </dl>
    {% endif %}
    {% if form -%}
    {% set class = "edit-toggle" if not start_edit else None %}
    <form method="POST" class="form-horizontal{{ " "+class if class }}" action="/brothers/id/{{ form.id.data }}/edit">
    {{ util.render_form(form, class=class) }}
    </form>
    {%- endif %}
  </div>
  <div class="span4">
    <div class="btn-group pull-right">
      <a class="btn" href="/brothers/id/{{ brother.id }}/edit" id="edit">Edit</a>
      <a class="btn" href="/brothers/id/{{ brother.id }}" id="cancel">Cancel</a>
    </div>
  </div>
</div>
{%- endblock content %}
{% block scripts -%}
{{ super() }}
{{ '<script src="/static/main.js"></script>'|safe if not start_edit }}
{%- endblock scripts %}
