
{% macro brother_link(brother) -%}
{% if brother.roll_number -%}
<a href="/brothers/{{ brother.roll_number }}">
{%- else -%}
<a href="/brothers/id/{{ brother.id}}">
{%- endif -%}
{%- endmacro %}

{% macro brother_name(brother) -%}
{{ brother_link(brother) }}{{ brother.name }}</a>
{%- endmacro %}

{% macro display_date(brother, property, label=None) -%}
{% if brother|attr(property) -%}
    <dt>{{ label|default(property|replace('_', ' ')|title) }}</dt>
    <dd>{{ (brother|attr(property)).strftime("%B %d, %Y") }}</dd>
{%- endif %}
{%- endmacro %}

{% macro display_text(brother, property, label=None) -%}
  {% if brother|attr(property) -%}
    <dt>{{ label if label else property|replace('_', ' ')|title }}</dt>
    <dd>{{ brother|attr(property) }}</dd>
  {%- endif %}
{%- endmacro %}

{% macro display_positions(brother, property, label=None, wack=False) -%}
{% if brother|attr(property) -%}
<dt>{{ label if label else property|replace('_', ' ')|title }}</dt>
<dd>{{ brother|attr(property)|join(', ', 'position') }}</dd>
{%- endif %}
{%- endmacro %}

{% macro display_contact(brother, property, label=None) -%}
{% if brother|attr(property) -%}
    <dt>{{ label if label else property|replace('_', ' ')|title }}</dt>
    <dd>
      <table class="table table-condensed table-bordered">
        {% for info in brother|attr(property) %}
        <tr>
          <td><strong>{{ info.description if info.description }}</strong></td>
          <td>{{ info.info() }}</td>
        </tr>
        {% endfor %}
      </table>
    </dd>
{%- endif %}
{%- endmacro %}

{% macro brother_thumbs(brothers) -%}
<ul class="thumbnails">
{%- for brother in brothers -%}
  <li class="span2">
    {{ brother_link(brother) }}
    <div class="thumbnail">
      <img data-src="static/js/holder.js/150x150">
      <h5>{{ brother.name }}</h5>
    </div>
    </a>
  </li>
{%- endfor -%}
</ul>
{%- endmacro %}

{% macro render_field(field) %}
<div class="control-group{{ " error" if field.errors }}">
  {% if field.type == "FieldList" %}
  <!-- FieldList -->
  {{ field.label(class="control-label") }}
  <div class="controls">
    {% for sub_field in field %}
    {{ render_field(sub_field) }}
    {% endfor %}
  </div>
  {% elif field.type == "FormField" %}
  <!-- FormField -->
    {% for sub_field in field %}
    {% if sub_field.widget.input_type == "hidden" %}
      {{ sub_field -}}
    {% else %}
      {{ render_field(sub_field) }}
    {% endif %}
    {% endfor %}
  {% elif field.widget.input_type == "checkbox" %}
  <!-- Checkbox widgets -->
    <label class="checkbox">
      {{ field }}
      {{ field.label.text }}
    </label>
  {% else %}
  <!-- Misc widget -->
  {{ field.label(class="control-label") }}
  <div class="controls">
    {% if field.widget.input_type == "radio" %}
      <!-- Radio Widgets -->
      {% for option in field %}
      <label class="radio">
        {{ option }}
        {{ option.label.text }}
      </label>
      {% endfor %}
    {% else %}
      {{ field }}
    {% endif %}
    {% for error in field.errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro render_field_list(field_list) %}
{% for field in field_list %}
{{ render_field(field) }}
{% endfor %}
{% endmacro %}

{% macro render_form(form, class=None) -%}
{% for field in form if field.widget.input_type != "hidden" %}
{{ render_field(field) }}
{%- endfor -%}
<div class="control-group">
  <div class="controls">
    {%- for field in form if field.widget.input_type == "hidden" %}
    {{ field -}}
    {% endfor %}
    <input class="btn" type=submit value="Submit">
  </div>
</div>
{%- endmacro %}
