<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %} – YB Theta Tau{% endblock title%}</title>
    <!-- Be responsive to screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incude Twitter Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/css/bootstrap-responsive.css" rel=stylesheet>
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div class="container">
        <header class="page-header">
          <h1>Theta Tau <small class="pull-right">Upsilon Beta Chapter at Old Dominion University</small></h1>
          <nav>
            <ul class="nav nav-pills">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Rush</a></li>
              <li><a href="#">Members</a></li>
              <li><a href="#">Activities</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </header>
      {% block content %}
      <h1>A Heading</h1>
      <p>Body content goes here.</p>
      {% endblock content %}
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.js"></script>
    {% endblock body %}
  </body>
</html>
